#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

DOT_IN_FILES :=

%:
	dh $@ --buildsystem=cmake

CONFFLAGS := \
	-DCMAKE_BUILD_TYPE=Release

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_clean:
	dh_auto_clean
	for file in $(DOT_IN_FILES); do rm -f debian/$${file}; done

override_dh_auto_install:
	dh_auto_install
	for file in $(DOT_IN_FILES); \
	do \
	  sed -e "s|\$${DEB_HOST_MULTIARCH}|$(DEB_HOST_MULTIARCH)|g" \
	  <debian/$${file}.in >debian/$${file}; \
	done
